# Rearranging and Reshaping Data

Here, you will learn how to reshape your DataFrames using techniques such as pivoting, melting, stacking, and unstacking. These are powerful techniques that allow you to tidy and rearrange your data into the format that allows you to most easily analyze it for insights

#### Pivoting Dataframes
- Pivoting and the Index
- Pivoting a single variable
- Pivoting all variables


#### Stacking & Unstackcing Dataframes
- Restoring the Index Order


#### Melting DataFrames
- Adding names for Readability
- Going from wide to long
- Obtaining key-value pairs with Melt()

#### Pivot Tables
- Setting up a pivot table
- Using other aggregations in pivot tables
- Using margins in pivot tables

#### Pivoting a single variable

Suppose you started a blog for a band, and you would like to log how many visitors you have had, and how many signed-up for your newsletter. To help design the tours later, you track where the visitors are. A DataFrame called users consisting of this information has been pre-loaded for you.

Inspect users in the IPython Shell and make a note of which variable you want to use to index the rows ('weekday'), which variable you want to use to index the columns ('city'), and which variable will populate the values in the cells ('visitors'). Try to visualize what the result should be.

For example, in the video, Dhavide used 'treatment' to index the rows, 'gender' to index the columns, and 'response' to populate the cells. Prior to pivoting, the DataFrame looked like this:

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

After pivoting:

gender     F  M
treatment      
A          5  3
B          8  9
In this exercise, your job is to pivot users so that the focus is on 'visitors', with the columns indexed by 'city' and the rows indexed by 'weekday'

In [2]:
import pandas as pd
import numpy as np

In [3]:
users = pd.read_csv('./data/users.csv')

In [4]:
users

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5

In [5]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday', columns='city', values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

#### Pivoting all variables

If you do not select any particular variables, all of them will be pivoted. In this case - with the users DataFrame - both 'visitors' and 'signups' will be pivoted, creating hierarchical column labels.

You will explore this for yourself now in this exercise

In [6]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
# left out the values parameter
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

## Stacking and Unstacking Hierarchical Dataframes

- set_index() to create mutli-level index
- pivots won't work with multi-level index
- move some of Index levels to Columns
- more columns, fewer rows
- move UNSTACK

In [ ]:
# unstack a multi level index
trials.unstack(level='gender')

# use integer, unstack the 2nd level 0 based indexing
trials.unstack(level=1)

# opposite - make dataframe thinner and longer
# this moves a column to the index
trials_by_gender.stack(level='gender')

# swapping levels
# you want to swap the first(0) and second(1) levels here:
swapped = stacked.swaplevel(0,1)

# sorted index
sort_trials = swapped.sort_index()

#### Stacking & unstacking I

You are now going to practice stacking and unstacking DataFrames. The users DataFrame you have been working with in this chapter has been pre-loaded for you, this time with a MultiIndex. Explore it in the IPython Shell to see the data layout. Pay attention to the index, and notice that the index levels are ['city', 'weekday']. So 'weekday' - the second entry - has position 1. This position is what corresponds to the level parameter in .stack() and .unstack() calls. Alternatively, you can specify 'weekday' as the level instead of its position.

Your job in this exercise is to unstack users by 'weekday'. You will then use .stack() on the unstacked DataFrame to see if you get back the original layout of users.

In [35]:
# read file
users = pd.read_csv('./data/users.csv')

In [36]:
# create multi-hierachy index
users = users.set_index(['city', 'weekday'])

In [41]:
# sort
users = users.sort_index()

del users['Unnamed: 0']

In [42]:
users

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [43]:
# Unstack users by 'weekday': byweekday
byweekday = users.unstack('weekday')

# Print the byweekday DataFrame
print(byweekday)

# Stack byweekday by 'weekday' and print it
print(byweekday.stack(level='weekday'))

        visitors      signups
weekday      Mon  Sun     Mon Sun
city
Austin       326  139       3   7
Dallas       456  237       5  12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

#### Stacking & unstacking II

You are now going to continue working with the users DataFrame. As always, first explore it in the IPython Shell to see the layout and note the index.

Your job in this exercise is to unstack and then stack the 'city' level, as you did previously for 'weekday'. Note that you won't get the same DataFrame.

In [44]:
# Unstack users by 'city': bycity
bycity = users.unstack('city')

# Print the bycity DataFrame
print(bycity)

# Stack bycity by 'city' and print it
print(bycity.stack(level='city'))

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12
                visitors  signups
weekday city
Mon     Austin       326        3
        Dallas       456        5
Sun     Austin       139        7
        Dallas       237       12

#### Restoring the index order

Continuing from the previous exercise, you will now use .swaplevel(0, 1) to flip the index levels. Note they won't be sorted. To sort them, you will have to follow up with a .sort_index(). You will then obtain the original DataFrame. Note that an unsorted index leads to slicing failures.

To begin, print both users and bycity in the IPython Shell. The goal here is to convert bycity back to something that looks like users.

In [45]:
# Stack 'city' back into the index of bycity: newusers
newusers = bycity.stack(level='city')

# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0,1)

# Print newusers and verify that the index is not sorted
print(newusers)

# Sort the index of newusers: newusers
newusers = newusers.sort_index()

# Print newusers and verify that the index is now sorted
print(newusers)

# Verify that the new DataFrame is equal to the original
print(newusers.equals(users))

                visitors  signups
city   weekday
Austin Mon           326        3
Dallas Mon           456        5
Austin Sun           139        7
Dallas Sun           237       12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12
True

# Melting Dataframes

- Pivot tools for reshaping df
- Melt: change pivoted data back to original form

In [ ]:
# id_vars keeps the columns that won't get melted
pd.melt(new_trials, id_vars=['treatment'])

# value_vars explicity lists which columns NOT TO TOUCH 
# convert to values in the variable column
pd.melt(new_trials, id_vars=['treatment'], 
        value_vars=['F', 'M'])

# if you want to provide more descriptive names
pd.melt(new_trials, id_vars=['treatment'],
        var_name='gender', value_name='response')

#### Adding names for readability

You are now going to practice melting DataFrames. A DataFrame called visitors_by_city_weekday has been pre-loaded for you. Explore it in the IPython Shell and see that it is the users DataFrame from previous exercises with the rows indexed by 'weekday', columns indexed by 'city', and values populated with 'visitors'.

Recall from the video that the goal of melting is to restore a pivoted DataFrame to its original form, or to change it from a wide shape to a long shape. You can explicitly specify the columns that should remain in the reshaped DataFrame with id_vars, and list which columns to convert into values with value_vars. As Dhavide demonstrated, if you don't pass a name to the values in pd.melt(), you will lose the name of your variable. You can fix this by using the value_name keyword argument.

Your job in this exercise is to melt visitors_by_city_weekday to move the city names from the column labels to values in a single column called 'city'. If you were to use just pd.melt(visitors_by_city_weekday), you would obtain the following result:

      city value
0  weekday   Mon
1  weekday   Sun
2   Austin   326
3   Austin   139
4   Dallas   456
5   Dallas   237


Therefore, you have to specify the id_vars keyword argument to ensure that 'weekday' is retained in the reshaped DataFrame, and the value_name keyword argument to change the name of value to visitors

In [58]:
visitors_by_city_weekday = pd.read_csv('./data/users.csv')

In [59]:
del visitors_by_city_weekday['Unnamed: 0']

In [61]:
visitors_by_city_weekday = visitors_by_city_weekday.pivot(index='weekday', columns='city', values='visitors')

In [62]:
visitors_by_city_weekday

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [63]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday =  visitors_by_city_weekday.reset_index() 

# Print visitors_by_city_weekday
print(visitors_by_city_weekday)

city weekday  Austin  Dallas
0        Mon     326     456
1        Sun     139     237

In [65]:
# Melt visitors_by_city_weekday: visitors
# id_vars leaves the Weekday column untouched
# melting the other columns
visitors = pd.melt(visitors_by_city_weekday, 
                   id_vars=['weekday'], 
                   value_name='visitors')

# Print visitors
print(visitors)

  weekday    city  visitors
0     Mon  Austin       326
1     Sun  Austin       139
2     Mon  Dallas       456
3     Sun  Dallas       237

Well done! Notice how your melted DataFrame now has a 'city' column with Austin and Dallas as its values. In the original DataFrame, they were columns themselves. Also note how specifying the value_name parameter has renamed the 'value' column to 'visitors'.

#### Going from wide to long

You can move multiple columns into a single column (making the data long and skinny) by "melting" multiple columns. In this exercise, you will practice doing this.

The users DataFrame has been pre-loaded for you. As always, explore it in the IPython Shell and note the index.

In [66]:
users = pd.read_csv('./data/users.csv')

In [68]:
del users['Unnamed: 0']

In [70]:
# Melt users: skinny
skinny = pd.melt(users, id_vars=['weekday', 'city'])

# Print skinny
print(skinny)

  weekday    city  variable  value
0     Sun  Austin  visitors    139
1     Sun  Dallas  visitors    237
2     Mon  Austin  visitors    326
3     Mon  Dallas  visitors    456
4     Sun  Austin   signups      7
5     Sun  Dallas   signups     12
6     Mon  Austin   signups      3
7     Mon  Dallas   signups      5

Well done! Here, because you didn't specify the var_name or value_name parameters, the melted DataFrame has the default variable and value column names.

#### Obtaining key-value pairs with melt()

Sometimes, all you need is some key-value pairs, and the context does not matter. If said context is in the index, you can easily obtain what you want. For example, in the users DataFrame, the visitors and signups columns lend themselves well to being represented as key-value pairs. So if you created a hierarchical index with 'city' and 'weekday' columns as the index, you can easily extract key-value pairs for the 'visitors' and 'signups' columns by melting users and specifying col_level=0

In [71]:
users

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

In [72]:
# Set the new index: users_idx
users_idx = users.set_index(['city', 'weekday'])

# Print the users_idx DataFrame
print(users_idx)

# Obtain the key-value pairs: kv_pairs
kv_pairs = pd.melt(users_idx, col_level=0)

# Print the key-value pairs
print(kv_pairs)

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5
   variable  value
0  visitors    139
1  visitors    237
2  visitors    326
3  visitors    456
4   signups      7
5   signups     12
6   signups      3
7   signups      5

Great work! It's always worth keeping in mind whether any aspects of your data lend themselves well to being represented as key-value pairs.

# Pivot Tables

- pivot and melt for tools to reshape tabular data
- but pivot doesn't always work
- pivot requires unique index/column pairs to identify values in the new table
- pivot cannot contain duplicate entries
- PIVOT TABLES reshapes df but deal with same value using REDUCTION
- the reduction is an AVERAGE
- AGGFUND - use other aggregation functions, e.g. COUNT

In [ ]:
more_trials.pivot_table(index='treatment',
                          columns='gender',
                          values='response')

#### Setting up a pivot table

Recall from the video that a pivot table allows you to see all of your variables as a function of two other variables. In this exercise, you will use the .pivot_table() method to see how the users DataFrame entries appear when presented as functions of the 'weekday' and 'city' columns. That is, with the rows indexed by 'weekday' and the columns indexed by 'city'.

Before using the pivot table, print the users DataFrame in the IPython Shell and observe the layout.

In [73]:
users

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

In [74]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday', columns='city')

# Print by_city_day
print(by_city_day)

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

#### Using other aggregations in pivot tables

You can also use aggregation functions within a pivot table by specifying the aggfunc parameter. In this exercise, you will practice using the 'count' and len aggregation functions - which produce the same result - on the users DataFrame.

In [75]:
# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index='weekday', aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = users.pivot_table(index='weekday', aggfunc=len)

# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

         city  signups  visitors
weekday
Mon         2        2         2
Sun         2        2         2
==========================================
True

Well done! As expected, both the len and 'count' aggregation functions produced the same result.

#### Using margins to add TOTAL in pivot tables

Sometimes it's useful to add totals in the margins of a pivot table. You can do this with the argument margins=True. In this exercise, you will practice using margins in a pivot table along with a new aggregation function: sum.

The users DataFrame, which you are now probably very familiar with, has been pre-loaded for you.

In [76]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index='weekday', aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index='weekday', aggfunc=sum, margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         signups  visitors
weekday
Mon            8       782
Sun           19       376
         signups  visitors
weekday
Mon          8.0     782.0
Sun         19.0     376.0
All         27.0    1158.0

Fantastic! Take a look at how specifying margins=True resulted in the totals in each column being computed.